#codigos {
    position: absolute;
    text-transform: uppercase;
}

.video {
    position: absolute;
    z-index: -1;
}

.over {
    /* color: #FFF; */
    width: 10em;
    height: 10em;
    background: rgba(0, 0, 0, 0);
    border: 2px #F00 solid;
    text-align: center;
}