body {
    font-family: var(--font-family);
    background: var(--main-color);
    background-attachment: fixed;
    height: 100vh;
    color: white;
}

section {
    width: 50%;
    max-width: 1920px;
    margin: auto !important;
    text-align: center;
    font-size: 1.2rem;
}

#description {
    padding-top: 200px;
}

#inputId {
    text-transform: uppercase;
}

#webcam {
    transform: scaleX(-1);
}

.fundo {
    background: url("../../public/totem.png");
    width: 881px;
    height: 1440px;
    border: #f00 solid;
}

.overlay {
    position: absolute;
    background: url("../../public/overlay.png");
    width: 881px;
    height: 1440px;
    background-size: contain;
    border: #ff0 solid;
    z-index: 2;
}