body {
    font-family: var(--font-family);
    background: var(--main-color);
    background-attachment: fixed;
    height: 100vh;
    color: white;
}

section {
    width: 50%;
    max-width: 1200px;
    margin: auto !important;
    text-align: center;
    font-size: 1.2rem;
    border: 2px solid red;
}

#description {
    margin-top: 50px;
}

