* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background: var(--main-color);
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    padding-top: 10vh;
    /* align-items: center; */
    justify-content: center;
}
section {
    width: 100%;
    max-width: 1200px;
    /* margin: auto !important; */
    text-align: center;
    color: white;
}

p {
    font-size: 1.2rem;
    margin: 1rem 0;;
}