:root {
    --button-size: 50px;
}

button {
    font-family: var(--font-family);
    font-size: 2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #E83F28 !important;
    color: #FFFFFF !important;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #A51D05 !important;
    color: var(--white)#CECECE !important;
}