.main-logo {
    width: 54vw;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
}

.secondary-logo {
    width: 20vw;
    position: absolute;
    bottom: 0px;
    left: 5vw;
    margin: auto;
}