.main-logo {
    width: 390px;
    height: 70px;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: auto;
}

.secondary-logo {
    width: 390px;
    height: 70px;
    position: absolute;
    bottom: 40px;
    right: 0;
    margin: auto;
}